%% == Erlang Compiler ==

{erl_opts, [debug_info]}.

%% == Minimum OTP version ==

{minimum_otp_vsn, "19"}.

%% == Dependencies ==

{deps, []}.

%% == Common Test ==

{ct_compile_opts, [debug_info]}.

%% == Xref ==

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_funcqtions
]}.

%% == Plugins ==

{plugins, [
    % @TODO: Folow https://github.com/markusn/coveralls-erl/pull/36 and use `coveralls` after release
    {coveralls, {git, "https://github.com/RoadRunnr/coveralls-erl.git", {branch, "feature/git-info"}}},
    rebar3_hex]
}.

%% == Cover covervalls.io ==
{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, "_build/test/cover/ct.coverdata"}.
{coveralls_service_name , "github"}.
