name: CI

on:
  push:
  pull_request:
    branches: [ $default-branch ]
  release:
    types:
      - created

jobs:
  test:
    name: CI
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        otp: [22.3.4.16, 23.0.4, 23.1.5.0, 23.2.5.0, 22.22]
    container:
      if: ${{ matrix.otp != '22.22' }}
      image: erlang:${{ matrix.otp }}-alpine
    steps:
    - name: Prepare
      run: |
           apk update
           apk --no-cache upgrade
           apk --no-cache add gcc git libc-dev libc-utils libgcc linux-headers make bash \
                              musl-dev musl-utils ncurses-dev pcre2 pkgconf scanelf wget zlib
    - uses: actions/checkout@v2
    - name: Build
      run: rebar3 compile
    - name: Run tests
      run: |
           rebar3 do xref
           rebar3 do ct
    - name: Coveralls
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: DEBUG=1 rebar3 as test coveralls send || /bin/true
    - name: Archive Test Output
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: test-output-${{ matrix.otp }}
        path: |
          _build/test/logs/
          !_build/test/logs/last
